<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="javascript:void(0)"><b>Bankeji</b>.tn</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSingIn()">
          <div class="input-group mb-3">
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': usernameErrors.includes('username') }"
              id="username" placeholder="Nom d'utilisateur"
              (input)="clearUsernameError()"
              (focus)="onUsernameFocus()"
              (blur)="onUsernameBlur()" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>

            <span id="username-error" *ngIf="usernameErrors.includes('username')" class="error invalid-feedback">
              {{ usernameFormError.errorForUsername }}
            </span>
          </div>

          <div class="input-group mb-3">
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': passwordErrors.includes('password') }"
              id="password" placeholder="Mot de passe"
              (input)="clearPasswordError()"
              (focus)="onPasswordFocus()"
              (blur)="onPasswordBlur()" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>

            <span id="password-error" *ngIf="passwordErrors.includes('password')" class="error invalid-feedback">
              {{ passwordFormError.errorForPassword }}
            </span>
          </div>

          <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
              <button type="submit" class="btn btn-primary btn-block">Connexion</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
