<!-- <app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar> -->
<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-sm-6">
        <h1 class="m-0">Tableau de bord</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">

          <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{totalClient}}</h3>

            <p>Clients</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-people"></i>

          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{totalComptes}}</h3>

            <p>Comptes</p>
          </div>
          <div class="icon">
            <i class="fas fa-credit-card"></i>

          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{totalTransactions}}</h3>

            <p>Transactions</p>
          </div>
          <div class="icon">
            <i class="fas fa-money-check-alt"></i>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
    <div class="row ssv">
      <!-- Section pour le graphique en camembert -->
      <div class="col-md-6">
        <h3 class="txtc">Nombre des comptes par type</h3>
        <canvas class="tai" baseChart [type]="'pie'" [datasets]="chartDatapie.datasets" [labels]="chartDatapie.labels" [options]="chartOptions"></canvas>
      </div>
      <div class="col-md-6">
        <h3 class="txtc">Nombre des transactions par jour (les derniers 5 jours)</h3>
        <canvas baseChart [type]="'line'" [datasets]="chartDatabar.datasets" [labels]="chartDatabar.labels" [options]="chartOptions1"></canvas>
      </div>
    
    </div>
  </div>
</section>

